@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.baner{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 3rem 0 3rem;
    cursor: pointer;
    background-color: white;

}
.baner_text{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.baner_text button{
    width: 180px;
    height: 60px;
    border-radius: 50px;
    border: none;
    background-color: black;
    color: white;
    font-size: 20px;
    transition: background-color 0.5s ease;
    cursor: pointer;
}

.baner_text button:hover{
    background-color: #01c9d6;
}

.baner_head{
    color: #01c9d6;
    font-size: 60px;
    /* font-family: 'LuckiestGuy-Regular'; */
    font-family: "Luckiest Guy", cursive;
    word-wrap: break-word; 
    text-align: center; 

}
.baner_foto{
    width: 50%;

}

.baner_foto_img{
    width: 100%;
}