/* .carousel-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .carousel-button {
 
  }
  
  .carousel-wrapper {
    overflow: hidden;
    height: 300px;
  }
  
  .carousel-items {
    display: flex;
  }
  
  .carousel-item {
    width: 120px;
    height: 300px;
  }
   */

   /* carouselSwiper.module.css */
.slide {
    width: 120px; /* Slayt genişliği */
    height: 300px; /* Slayt yüksekliği */
  }
  