@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    width: 100%;
    border-bottom: 1px solid rgb(240, 243, 237);
    height: 8rem;

    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: top; */
}
.header_up{
    width: 100%;
    padding: 0 3rem 0 3rem;
    /* height: 4rem; */
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(240, 243, 237);
}

.header_up_contacts{
    width: 24rem;
    /* height: 3rem; */
    display: flex;
    /* border: 1px solid red; */
    margin: auto 0 auto 0;
    gap: 30px;
}
.header_up_contacts a{
    display: flex;
    gap: 3px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    font-size: 16px;
}

.header_up_contacts a:hover {
    color: #007bff;
}
.header_up_search{
    width: 33rem;
    height: 2rem;
    /* border: 1px solid red; */
    margin: auto 0 auto 0;
}

.header_up_search_item{
    width: 100%;
    height: 100%;
    border-radius:50px ;
    padding-left: 10px;
}

.header_up_soscials{
    width: 24rem;
    height: 3rem;
    /* border: 1px solid red; */
    /* margin: auto 0 auto 0; */
    display: flex;
    align-items: center;
    justify-content: right;
}

.header_up_soscials_icons a{
    margin: 15px;
}

.header_down{
    padding: 0 3rem 0 3rem;
    width: 100%;
    height: 4rem;
    /* border-bottom: 1px solid gray; */
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header_down_logo{
    width: 15rem;
    height: 3rem;
    /* border: 1px solid red; */
    margin: auto 0 auto 0;
}
.header_down_nav{
    width: 33rem;
    height: 2rem;
    /* border: 1px solid red; */
    margin: auto 0 auto 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.header_down_nav  li a {
    text-decoration: none;
    color: black;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    font-weight: 600;
    transition:color 0.3s ease;
}

.header_down_nav  li {
    margin-bottom: 5px;
}

.header_down_nav  {
    list-style: none;
    padding: 0;
}

.header_down_nav a:hover{
   color:#01c9d6;
}

.header_down_selling{
    height: 3rem;
    /* border: 1px solid red; */
    margin: auto 0 auto 0;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.header_down_selling_icon{
    width: 20px;
    height: 20px;
}