* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    width: 100%;
    border: 1px solid red;
    height: 8rem;
    padding: 0 1rem 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header_up{
    width: 100%;
    height: 4rem;
    border: 1px solid red;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header_up_contacts{
    width: 24rem;
    height: 3rem;
    border: 1px solid red;
    margin: auto 0 auto 0;
}

.header_up_search{
    width: 33rem;
    height: 2rem;
    border: 1px solid red;
    margin: auto 0 auto 0;
}

.header_up_soscials{
    width: 24rem;
    height: 3rem;
    border: 1px solid red;
    margin: auto 0 auto 0;
}

.header_down{
    width: 100%;
    height: 4rem;
    border: 1px solid red;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header_down_logo{
    width: 15rem;
    height: 3rem;
    border: 1px solid red;
    margin: auto 0 auto 0;
}
.header_down_nav{
    width: 33rem;
    height: 2rem;
    border: 1px solid red;
    margin: auto 0 auto 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.header_down_selling{
    width: 15rem;
    height: 3rem;
    border: 1px solid red;
    margin: auto 0 auto 0;
}